body {
  margin: 0px auto;
  font-family: "Futura", "Helvetica", sans-serif;
  line-height: 1.5em;
  color: #3c3836;
}

h1 {
  font-size: 3em;
  line-height: 1em;
}

h1, h2, h3 {
  margin-top: 2em;
  color: #1d2021;
}

header {
  background-image: url("../img/bg-silver.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  text-align: center;
  max-width: 100%;
}

header nav{
  display: flex;
  flex-direction: row;
  background-color: #1d2021;
  opacity: 0.5;
  justify-content: space-between;
  transition: opacity 1s;
}

header nav:hover {
  opacity: 0.8;
}

.nav-item {
  display: block;
  color: #cdc7ba;
  text-decoration: none;
  text-align: center;
  font-size: 1em;
  padding: 3vh 5vw;
}

.nav-item:hover {
  color: #bac0cd;
  background-color: black;
}


header div {
  padding: 10vh 2vw 40vh
}

main {
  margin: 2vh auto;
  max-width: 75vw;
  padding: 10px;
}


footer.section-footer {
  font-size: x-small;
}

pre {
  background-color: #eee;
  line-height: 1.5em;
  padding: 5px;
}

code {
  background-color: #eee;
  padding: 2px 4px;
}
