<nav>
	<a class="nav-item" href="{{ url_for('home') }}">Home</a>
	<a class="nav-item" href="{{ url_for('html_hints') }}">HTML</a>
	<a class="nav-item" href="{{ url_for('css_hints') }}">CSS</a>
	<a class="nav-item" href="{{ url_for('js_hints') }}">JavaScript</a>
</nav>
